/* 
   The rem unit is relative to the root—or the html—element. 
   Now we can define a single font size on the html element 
   and define all rem units to be a percentage of that.
*/
html { 
    font-size: 62.5%; 
} 

body { 
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem; /* 14px */
} 

h1   { 
    font-size: 2.4rem; /* 24px */
} 

.container {
    width: 100%;
    overflow: hidden;
}